* ::-webkit-scrollbar {
  width: 8px;
}

* ::-webkit-scrollbar-track {
  background: white;
}

* ::-webkit-scrollbar-thumb {
  background-color: #bebcbc;
}

body {
  margin: 0;
  background-color: #8F57FD;
  font-family: 'Mulish', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  background-color: #8F57FD;
  top: 0;
}

.header__img {
  margin-left: 30px;
  width: 200px;
}

.header__menu {
  margin-right: 60px;
}

.header__menu ul {
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px -1px;
}

.header__menu:hover ul, ul:hover {
  display: block;
}

.header__menu li {
  margin: 10px 0;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 60px;
}

.header__menu--profile p {
  margin: 0 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  border-radius: 0px 0px 40px 40px;
}

.main__title {
  color: white;
  font-size: 22px;
}

.main__input {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  height: 45px;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  padding: 0 20px;
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: white;
  /* font-weight: bold; */
}

:-ms-input-placeholder {
  color: white;
  /* font-weight: bold; */
}

::-ms-input-placeholder {
  color: white;
  /* font-weight: bold; */
}

::placeholder {
  color: white;
  /* font-weight: bold; */
}

.main__input:focus-visible {
  outline: none;
}

.categories__title {
  color: white;
  font-size: 14px;
  padding-left: 30px;
  position: absolute;
}

.caroucel {
  width: 100%;
  overflow-x: scroll;
  padding: 30px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.caroucel::-webkit-scrollbar {
  display: none;
}

.caroucel-container {
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
}

.caroucel-item {
  background-color: transparent;
  display: inline-block;
  width: 200px;
  height: 250px;
  border-radius: 25px;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  position: relative;
}

.caroucel-item:hover ~ .caroucel-item {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}

.caroucel-container:hover .caroucel-item {
  opacity: 0.3;
}

.caroucel-container:hover .caroucel-item:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

.caroucel-item__img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.caroucel-item__details {
  background-color: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 0;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 145px;
  right: 0;
  bottom: 0;
  left: 0;
}

.caroucel-item__details img {
  width: 30px;
  height: 30px;
}

.caroucel-item__details p {
  color: white;
}

.caroucel-item__details:hover {
  opacity: 1;
}

/* .carousel::-webkit-scrollbar-thumb{ */
/* background-color: rgba(255,255,255,0.1); */
/* border-radius: 5px; */
/* } */
/*  */
/* .carousel::-webkit-scrollbar { */
/* background-color: rgba(255,255,255,0.1); */
/* } */
.footer {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  padding-left: 30px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding-right: 15px;
}
/*# sourceMappingURL=style.css.map */